@keyframes pulsate {

	0% {
		text-shadow:
			0 0 6px var(--fc-light),
			0 0 8px var(--fc-light),
			0 0 18px var(--fc-light),
			0 0 28px var(--primary),
			0 0 46px var(--primary),
			0 0 73px var(--primary),
			0 0 90px var(--primary),
			0 0 105px var(--primary);

		@include sm {
			text-shadow:
				0 0 3px var(--fc-light),
				0 0 5px var(--fc-light),
				0 0 10px var(--fc-light),
				0 0 15px var(--primary),
				0 0 20px var(--primary),
				0 0 40px var(--primary),
				0 0 50px var(--primary),
				0 0 65px var(--primary);
		}
	}

	100% {
		text-shadow:
			0 0 7px var(--fc-light),
			0 0 10px var(--fc-light),
			0 0 20px var(--fc-light),
			0 0 32px var(--primary),
			0 0 54px var(--primary),
			0 0 87px var(--primary),
			0 0 110px var(--primary),
			0 0 135px var(--primary);

		@include sm {
			text-shadow:
				0 0 5px var(--fc-light),
				0 0 8px var(--fc-light),
				0 0 15px var(--fc-light),
				0 0 20px var(--primary),
				0 0 30px var(--primary),
				0 0 50px var(--primary),
				0 0 65px var(--primary),
				0 0 80px var(--primary);
		}
	}
}
