.image-text {
	margin: 60px 0 30px;

	&__content {
		display: flex;
		flex-direction: column;
		gap: 40px;
		justify-content: center;
		max-width: 75%;
		min-height: 630px;
		padding: 50px;

		@include hg {
			min-height: 500px;
		}

		@include md {
			padding: 30px;
		}

		@include sm {
			max-width: none;
			min-height: auto;
		}

		@include xs {
			gap: 30px;
		}

		&--left {
			align-items: flex-start;

			@include sm {
				align-items: center;
				padding: 100px 30px 40px;
				text-align: center;
			}

			@include xs {
				padding: 60px 15px 30px;
			}
		}

		&--right {
			align-items: flex-end;
			margin-left: auto;
			text-align: right;

			@include sm {
				align-items: center;
				padding: 100px 30px 40px;
				text-align: center;
			}

			@include xs {
				padding: 60px 15px 30px;
			}
		}

		&--no-image {
			align-items: center;
			max-width: none;
			text-align: center;

			.image-text__text {
				max-width: none;
			}
		}
	}

	&__title {
		width: 100%;
		margin-bottom: 0;
		font-weight: 400;
		font-size: clamp(1.25rem, 0.917rem + 1.481vw, 2.25rem);
		text-transform: uppercase;
	}

	&__text {
		max-width: 720px;
		font-size: 24px;

		@include hg {
			max-width: 650px;
			font-size: 20px;
		}

		@include md {
			max-width: 80%;
		}

		@include sm {
			max-width: none;
		}

		@include xs {
			font-size: 16px;
		}
	}

	&__button {
		margin-top: 60px;

		@include hg {
			margin-top: 30px;
		}

		@include xs {
			margin-top: 0;
		}
	}

	&__img {
		position: absolute;
		bottom: 0;
		width: 100%;
		max-width: 40%;
		height: 100%;
		object-fit: contain;

		@include sm {
			top: -40px;
			bottom: auto;
			width: fit-content;
			max-width: none;
			height: 120px;
		}

		@include xs {
			top: -20px;
			height: 80px;
		}

		&--left {
			right: 0;
		}

		&--right {
			left: 0;
		}
	}
}
