.neon-text {
	position: relative;
	color: var(--bg-primary);
	-webkit-text-stroke: 1px var(--fc-light);
	text-shadow:
		0 0 7px var(--fc-light),
		0 0 10px var(--fc-light),
		0 0 20px var(--fc-light),
		0 0 30px var(--primary),
		0 0 50px var(--primary),
		0 0 80px var(--primary),
		0 0 100px var(--primary),
		0 0 120px var(--primary);
	animation: pulsate 0.15s ease-in-out infinite alternate; //from animation.scss

	@include sm {
		text-shadow:
			0 0 5px var(--fc-light),
			0 0 8px var(--fc-light),
			0 0 15px var(--fc-light),
			0 0 20px var(--primary),
			0 0 30px var(--primary),
			0 0 50px var(--primary),
			0 0 65px var(--primary),
			0 0 80px var(--primary);
	}

	&::before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(#8f00ff, 30%);
		border-radius: 50%;
		filter: blur(20px);
		content: "";
	}
}

.neon-logo {
	display: flex;
	flex-direction: column;
	gap: 5px;
	align-items: center;
	font-weight: 300;
	font-family: var(--font-secondary);
	text-decoration: none;

	&__img {
		filter: drop-shadow(0 0 40px var(--primary));

		@include xs {
			width: 150px;
			height: auto;
		}
	}

	&__label {
		font-size: 40px;
		text-transform: uppercase;

		@include xs {
			font-size: 30px;
		}
	}

	&__text {
		font-size: 30px;
		animation: flicker 1.5s infinite alternate; //from animation.scss

		@include xs {
			font-size: 20px;
		}
	}
}
