.not-found {
	margin-top: 100px;
	padding-top: 100px;

	@include hg {
		padding-top: 50px;
	}

	@include xs {
		margin-top: 90px;
	}

	&__container {
		display: flex;
		flex-direction: column;
		gap: 30px;
		align-items: center;
		justify-content: center;
	}

	&__title {
		font-size: 40px;
		font-family: var(--font-secondary);
		text-align: center;
		text-transform: uppercase;

		@include md {
			font-size: 32px;
		}

		@include sm {
			font-size: 28px;
		}

		@include xs {
			margin-bottom: 0;
			font-size: 24px;
		}

		span {
			display: block;
			font-size: 100px;

			@include md {
				font-size: 80px;
			}

			@include sm {
				font-size: 60px;
			}

			@include xs {
				font-size: 48px;
			}
		}
	}

	&__text {
		font-size: 20px;

		@include sm {
			font-size: 16px;
		}
	}

	&__link {
		text-decoration: none;
	}
}
