.welcome {
	min-height: 100svh;
	background: url(assets/images/welcome-bg.jpg) no-repeat 50% / cover;

	@include md {
		background-position: 70% top;
		background-size: auto 100%;
	}

	@include xs {
		background-position: 60% 0;
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 30px;
		align-items: center;
		justify-content: center;
		max-width: 480px;
		min-height: 100svh;
		padding: 100px 0 100px 40px;

		@include md {
			padding: 100px 0;
		}

		@include xs {
			max-width: none;
		}
	}

	&__title {
		align-self: flex-start;
		margin-bottom: 0;
		font-weight: 400;
		font-size: 38px;
		line-height: 1.2;

		@include hg {
			font-size: 32px;
		}

		@include sm {
			font-size: 28px;
		}

		@include xs {
			align-self: auto;
			font-size: 24px;
		}
	}

	&__text {
		font-size: 18px;
		line-height: 1.3;

		@include xs {
			text-align: center;
		}
	}
}
