@font-face {
	font-weight: 300;
	font-family: OpenSansCondensed;
	font-style: normal;
	src:
		url(assets/fonts/OpenSansCondensed-Light.woff2) format("woff2"),
		url(assets/fonts/OpenSansCondensed-Light.woff) format("woff");
	font-display: swap;
}

@font-face {
	font-weight: 400;
	font-family: PlayfairDisplay;
	font-style: normal;
	src:
		url(assets/fonts/PlayfairDisplay-Regular.woff2) format("woff2"),
		url(assets/fonts/PlayfairDisplay-Regular.woff) format("woff");
	font-display: swap;
}
